{{ define "main" }}

<article>
    <h1>河童書房</h1>

    <img src="/images/publishing/kwappa_publishing_white_logo.png" alt="河童書房" class="publishing-logo">
    <p>
        執筆した書籍の記録です。
    </p>

    <h2>既刊一覧</h2>

    <ul class="posts-list">
        {{ range where .Paginator.Pages "Type" "==" "page" }}
            <li class="posts-list-item">
                {{- $href := .Permalink -}}
                {{- with partial "_funcs/get-page-images" . }}
                    {{- range . | first 1 }}
                        <a href="{{ $href }}">
                            <img src="{{ .Permalink }}" width="240px" style="float:left;margin-right:12px;">
                        </a>
                    {{- end }}
                {{- end }}
                <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="posts-list-item-description">
                {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
                {{ .PublishDate.Format "Jan 2, 2006" }}
                </span>
                <br clear="both">
            </li>
        {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
</article>

{{ end }}
