{{- $images := partial "_funcs/get-page-images" . }}

{{ $siteURL := .Site.BaseURL  }}
{{ $relPermalink := .RelPermalink}}

{{- with index $images 0 }}
  {{ $image := .Permalink }}
  {{- if not (strings.HasPrefix $image "http") }}
    {{ $image := urls.JoinPath $siteURL $relPermalink $image }}
    <meta name="twitter:image" content="{{ $image }}" />
  {{- else }}
    <meta name="twitter:image" content="{{ $image }}" />
  {{- end }}
  <meta name="twitter:card" content="summary_large_image">
{{- else }}
  <meta name="twitter:card" content="summary">
{{- end }}

{{- with or .Title site.Title site.Params.title | plainify }}
  <meta name="twitter:title" content="{{ . }}">
{{- end }}

{{- with or .Description .Summary site.Params.description | plainify | htmlUnescape | chomp }}
  <meta name="twitter:description" content="{{ . }}">
{{- end }}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
